.field_with_errors input {
  color: yellow;
  background-color: red;
}
.notice {
  color: green;
}
.error {
  color: red;
}
.button_actions {
  display: inline;
}
.new_item {
  color: green;
}
.all_items {
  color: blue;
}
.cities_list li {
  display: inline;
}
.cities_list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.concert_band {
  font-size: 1.5em
}
.concert_description {
  font-size: .9em
}
.concert_more_info {
  font-size: .75em
}
.concert_price {
  font-size: 1.1em
  font-style: oblique;
}
.comments_count {
  font-size: .6em
}